.button {
  border: 1px solid;
  border-radius: 2rem;
  display: inline-block;
  color: $light-text;
  padding: 0.75rem 3rem;
  text-decoration: none;
  font-weight: bold;
  font-size: $font-xsm;
  cursor: pointer;

  background-color: $red-bg;
  border-color: $red-bg;

  svg.fa-arrow-right {
    margin-left: $padding-xsm;
  }
  svg.fa-arrow-left {
    margin-right: $padding-xsm;
  }
  &.image {
    color: $gray-text-light;
    border-radius: 0;
    background: none;
    font-weight: normal;
    padding: 0.5rem;
    border: 1px solid $bg-color;

    &:hover {
      color: $gray-text;
      border: 1px solid $gray-text;
      background: none;
    }

    &.selected {
      border-width: 1px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
      color: $gray-text-dark;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.clear {
    color: $gray-text;
    background: none;
    padding: 0.5rem 2.5rem;
    border-color: transparent;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      box-shadow: unset;
    }
  }

  &.orange {
    background-color: $orange-highlight;
    border-color: $orange-highlight;
    &.disabled {
      color: $light-text;
      background-color: $bg-light-grey;
      border-color: $bg-light-grey;
    }
  }
  &.green {
    background-color: $green-highlight;
    border-color: $green-highlight;
    &.disabled {
      color: $light-text;
      background-color: $bg-light-grey;
      border-color: $bg-light-grey;
    }
  }

  &.clear-border {
    color: $gray-text;
    background: none;
    border: 1px solid $gray-text;
  }

  &:hover:not(.disabled):not(.no-hover) {
    color: $gray-text-dark;
    border: 1px solid $gray-text-dark;
    background-color: $almost-white;
  }

  &:active {
    box-shadow: 0px 0px $shadow-blur-radius rgba($shadow-color, $shadow-opacity);
  }
}

.button-group {
  padding-top: 1rem;
  display: flex;
  margin-top: auto;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  a {
    margin-top: auto;
  }
}

.button-with-icon {
  padding: 0.5rem 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .children-span {
    flex: 100;
  }

  svg {
    font-size: 2rem;
  }
}
