@import "~rc-checkbox/assets/index.css";

.rc-checkbox:hover .rc-checkbox-inner,
.rc-checkbox-input:focus+.rc-checkbox-inner {
    border-color: $red-bg;
}

.rc-checkbox-inner {
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: #d9d9d9;
    background-color: #ffffff;
}

.rc-checkbox-inner:after {
    width: 10px;
    height: 15px;
}

/* Checked state */
.rc-checkbox-checked:hover .rc-checkbox-inner {
    border-color: $red-bg;
}

.rc-checkbox-checked .rc-checkbox-inner {
    border-color: $red-bg;
    background-color: $red-bg;
}

.rc-checkbox-checked .rc-checkbox-inner:after {
    width: 10px;
    height: 15px;
}

@media print {
    .rc-checkbox-checked .rc-checkbox-inner {
        box-shadow: inset 0 0 0 16px $red-bg;
    }
}