.config-device {
  h3 {
    margin-top: 0px;
  }

  mark {
    font-size: $font-xxsm;
  }

  .list-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;

    .item-wrapper {
      flex: 1;
      position: relative;
      padding-bottom: $padding-xsm;
      p:first-child {
        margin-top: 0px;
      }
    }
  }

  .bullet {
    float: left;
    margin-right: 2rem;
    background: $orange-highlight;
    height: 30px;
    width: 30px;
    line-height: 2rem;
    border-radius: 100px;
    font-weight: 700;
    color: $gray-text-dark;
    text-align: center;
    &.unselected {
      background: $bg-highlight;
    }
    position: relative;
    z-index: 4;
  }

  .item {
    display: flex;
    flex-direction: row;
    vertical-align: middle;

    &.start-test {
      flex-direction: column;
      width: 400px;

      mark {
        font-weight: unset;
      }
    }
  }

  .item-cell {
    padding: 0.5rem;
    flex-shrink: 0;
  }

  .error-border {
    outline-style: solid;
    outline-width: 1px;
    outline-color: $red-bg;
    border-width: 0 12px 0 0;
    border-color: $red-bg;
    border-style: solid;
  }

  .error-tooltip {
    position: relative;
    left: $padding-xsm;
    align-self: flex-start;
    padding: $padding-xsm;
    z-index: 1;
    flex-shrink: 1;

    color: $red-bg;
    background: $bg-color;
    font-size: $font-xxsm;

    box-shadow: 0px 3px 6px rgba($shadow-color, $shadow-opacity);
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: $red-bg;

    svg {
      margin-right: $padding-xsm;
      font-size: $font-md;
    }

    .error-tooltip-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  $error-tooltip-arrow-size: 12px;

  .error-tooltip:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: $error-tooltip-arrow-size solid transparent;
    border-right-color: $red-bg;
    border-left: 0;
    margin-top: -1 * $error-tooltip-arrow-size;
    margin-left: -1 * $error-tooltip-arrow-size;
    transform: scaleY(0.8);
  }

  .error-tooltip:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: ($error-tooltip-arrow-size - 1) solid transparent;
    border-right-color: $bg-color;
    border-left: 0;
    margin-top: -1 * ($error-tooltip-arrow-size - 1);
    margin-left: -1 * ($error-tooltip-arrow-size - 1);
    transform: scaleY(0.8);
  }

  .line {
    top: 0px;
    width: 2px;
    height: 100%;
    position: absolute;
    left: 14px;
    &.gray {
      z-index: 1;
      background: $bg-highlight;
    }
    &.background {
      z-index: 2;
      background: $bg-color;
    }
    &.orange {
      z-index: 3;
      background: $orange-highlight;
    }
    &.half {
      height: 50%;
    }
  }

  .length-form {
    span {
      margin-right: 1rem;
      margin-left: 0.5rem;
    }

    svg.question {
      font-size: $font-md;
    }

    .item-cell {
      min-width: 18rem;
    }
  }

  .start-test {
    .button-container {
      display: flex;
      margin-bottom: 0.8rem;
    }

    button {
      width: 17rem;
      margin-right: 2rem;
    }

    .loader {
      width: 3rem;
      height: 3rem;
    }
  }

  .motor-orientation {
    width: 10rem;
    margin-right: 2rem;

    img {
      margin-bottom: 0.5rem;
      height: 7rem;
    }

    &.selected {
      color: $green-highlight;

      &:hover {
        color: $green-highlight;
      }
    }

    svg {
      margin-left: 0.5rem;
    }
  }

  .travel-distance-tooltip {
    img {
      margin-bottom: 0.5rem;
    }
  }

  .device-tab .tab-content {
    text-align: end;

    span {
      margin-left: 0.5rem;
      text-decoration: none;
    }
    span:first-of-type {
      margin-left: 0;
    }

    div {
      margin-bottom: 0.3rem;
    }

    div:last-of-type {
      margin-bottom: 0;
    }

    .name, .device-number {
      font-weight: bold;
    }

    .serial {
      color: $gray-text-light;
    }

    .checkmark {
      color: $green-highlight;
    }
  }
}
