.dot {
  &.group {
    position: relative;
    display: table;
    padding: 0;
    list-style: none;
    cursor: default;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
  }
  li {
    position: relative;
    display: block;
    float: left;
    margin: 0 $padding-xsm;
    width: $padding-xxsm;
    height: $padding-xxsm;
    > a,
    > span {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      outline: none;
      border-radius: 50%;
      background-color: $bg-color;
      border: 1px solid $bg-dark;
      text-indent: -999em;
      position: absolute;
      &.selected {
        background-color: $bg-dark;
      }
    }
    a:hover {
      // TODO: Find out what color hover buttons should be
    }
  }
}
