.feedback {
  align-items: center;

  .devices-configured {
    $icon-size: 6rem;

    width: 80%;
    margin-bottom: 2.5rem;

    color: $green-highlight;

    .inner-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-top: $icon-size / 2;

      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
    }

    p {
      margin-top: $icon-size / 2 + 2.5rem;
      margin-bottom: 2.5rem;

      font-size: $font-sm;
      font-weight: bold;
    }

    .icon-container {
      position: relative;

      svg {
        position: absolute;
        top: $icon-size / -2;
        left: $icon-size / -2;

        width: $icon-size;
        height: $icon-size;
      }
    }
  }

  h3 {
    margin-top: 0.5rem;
  }

  .experience {
    display: flex;
    justify-content: center;

    margin-top: 1rem;

    .button.image {
      border-width: 0px;
      margin-left: 2.5rem;
      margin-right: 2.5rem;

      font-size: $font-xsm;

      img {
        width: 5rem;
      }
    }
  }

  .comment {
    width: 80%;

    p {
      margin-bottom: $padding-xxsm;
    }

    textarea {
      height: 5rem;
    }
  }

  .submit {
    display: flex;
    justify-content: center;

    margin-top: 1rem;

    button {
      margin-left: $padding-xsm;
      margin-right: $padding-xsm;
    }
  }
}

.feedback-thank-you {
  align-items: center;
  color: $green-highlight;

  svg {
    margin-top: 10rem;
    width: 6rem;
    height: 6rem;
  }

  p {
    font-size: $font-sm;
    font-weight: bold;
    margin-top: 2.5rem;
  }
}