.header {
  background-color: $red-bg;
  color: $bg-color;
  -webkit-app-region: drag;

  display: flex;
  justify-content: space-between;

  .content {
    padding: $padding-md;
  }

  a {
    -webkit-app-region: no-drag;

    font-size: $font-xlg;
    color: $bg-color !important;
    font-weight: bold;
    text-decoration: none !important;
    vertical-align: middle;
  }

  .header-icons {
    .system-button {
      -webkit-app-region: no-drag;

      display: inline-block;
      text-align: center;

      width: 60px;
      height: 40px;

      padding-top: 8px;

      &:hover {
        background-color: $red-text;
      }
    }
  }

  .logo {
    height: 3rem;
    vertical-align: middle;
    margin-right: 1rem;
    filter:drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  }
}