@import "./variables.scss";
@import "./header.scss";
@import "./button.scss";
@import "./layout.scss";
@import "./dotlink.scss";
@import "./config.scss";
@import "./splashscreen.scss";
@import "./ui_elements.scss";
@import "./modal.scss";
@import "./feedback.scss";
@import "./textarea.scss";
@import "./loader.scss";
@import "./scaling.scss";
@import "./detect_devices.scss";
@import "./checkbox.scss";
@import "./physical_assembly.scss";

body {
  margin: 0;
  padding: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: none;
  background-color: $bg-light;
  color: $gray-text-dark;
  font-size: $font-xsm;
}
