.layout {
  &.container {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
  }

  &.content {
    flex: 10;
  }

  &.col {
    margin: $padding-md;
  }

  .plain-content {
    padding: $padding-md;
    height: 100%;
    background-color: $bg-color;
    box-shadow: 0px 0px $shadow-blur-radius $shadow-spread rgba($shadow-color, $shadow-opacity);

    &.flex {
      display: flex;
      flex-direction: column;
    }

    h3 {
      margin-top: 0px;
    }
  }

  &.menu {
    font-size: $font-sm;
    color: $gray-text-dark;
    font-weight: 300;
    flex: 4;

    margin: {
      right: 0;
    }

    z-index: 0;

    .selected {
      height: 100%;
      background-color: $orange-highlight;
      width: 10px;
      float: left;
      position: absolute;
    }

    ul {
      list-style-type: none;
      padding-inline-start: 0;
      margin-block-start: 0;
      margin-block-end: 0;
      flex-direction: column;
      display: flex;
      height: 100%;
      text-align: center;
    }

    li {
      display: flex;
      flex: 1;
      width: 100%;
      background-color: $bg-color;
      margin-bottom: $padding-xsm;
      box-sizing: border-box;
      position: relative;
      max-height: 10rem;

      a {
        text-decoration: none;
        color: $gray-text-dark;
        align-items: center;
        display: flex;
        padding-left: $padding-sidebar;
        padding-right: $padding-sidebar;
        width: 100%;
      }

      span {
        display: flex;
        padding-left: $padding-sidebar;
        padding-right: $padding-sidebar;
        margin-top: auto;
        margin-bottom: auto;
        color: $gray-text-light;
      }

      svg {
        position: absolute;
        z-index: -1;
        right: -20px;
        filter: drop-shadow(0px 0px $shadow-blur-radius rgba(0, 0, 0, 0.9));
      }

      svg path {
        fill: $bg-color;
      }
    }

    li:before {
      box-shadow: 0px 0px $shadow-blur-radius rgba($shadow-color, $shadow-opacity);
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }

    li:last-of-type {
      margin-bottom: 0;
    }
  }

  &.root {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &.footer {
    font-family: $font;
    color: $gray-text-light;
    text-align: center;
    font-size: $font-xxsm;
    background-color: $bg-color;

    .item {
      display: inline-block;

      a {
        color: $gray-text;
      }

      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 0.6rem;
      margin-bottom: 0.6rem;
    }

    img {
      position: absolute;
      right: 0;
      height: 1.5rem;
      margin-right: 2rem;
      margin-top: 0.45rem;
    }
  }
}

.content {
  h3 {
    text-align: center;
    color: $orange-highlight;
  }

  .instruction-img {
    flex: 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.tab-layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  .tab-shadow {
    box-shadow: 0px 0px $shadow-blur-radius $shadow-spread rgba($shadow-color, $shadow-opacity);

    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .tabs {
    flex-shrink: 1;
    display: flex;

    .tab {
      position: relative;

      .tab-inner {
        position: relative;
        z-index: -1;
      }

      .tab-content {
        padding: 1rem;

        color: $gray-text-light;
        background-color: $bg-light-grey;
      }

      .click-overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;

        &.disabled {
          cursor: inherit;
        }
      }

      &.selected {
        .tab-content {
          color: $gray-text-dark;
          background-color: $bg-color;
        }

        .tab-inner {
          z-index: 0;
        }
      }
    }
  }

  .tab-main {
    flex: 1;
    position: relative;

    background-color: $bg-color;

    .tab-main-content {
      height: 100%;
      padding: $padding-md;

      &.flex {
        display: flex;
        flex-direction: column;
      }
    }

    .tab-shadow {
      z-index: -1;
    }
  }
}

.center {
  margin-right: auto;
  margin-left: auto;
}