.loader {
  animation-name: loader-spin;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  .hidden {
    display: none;
  }
}

@keyframes loader-spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
