div.modal {
  color: $gray-text-dark;
  .modal-header {
    border-radius: 10px 10px 0px 0px;
    min-height: 110px;
    text-align: center;
    position: relative;
    display: flex;
    &.error {
      color: $red-bg;
      background-color: $almost-white;
      border-bottom: $modal-border-width solid $red-bg;
    }
    &.success {
      color: $green-highlight;
      background-color: $green-light;
      border-bottom: $modal-border-width solid $green-highlight;
    }
    h2 {
      margin-top: auto;
      flex: 1;
      margin-bottom: $padding-xsm;
    }
  }
  .icon {
    position: absolute;
    left: 50%;
    top: -35%;
    transform: translate(-50%, -50%);

    .error-cross {
      filter:drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));

      fill: $bg-color;
      background-color: $red-bg;

      height: 90px;
      width: 90px;
      border-radius: 90px;
      padding: 15px;
    }
  }

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $bg-color;
  width: 50%;
  min-height: 33%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  z-index: 5;

  .content {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-left: $padding-xxlg;
    padding-right: $padding-xxlg;
    padding-top: $padding-xsm;
    padding-bottom: $padding-md;
    .button {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
