
$breakpoint1_height: 885px;
$breakpoint1_width: 1230px;

$breakpoint2_height: 780px;
$breakpoint2_width: 1140px;

@media (min-height: $breakpoint1_height), (min-width: $breakpoint1_width) {
  html {
    font-size: 16px;
  }
}

@media
  (min-height: $breakpoint2_height) and (max-height: $breakpoint1_height),
  (min-width: $breakpoint2_width) and (max-width: $breakpoint1_width) {
  html {
    font-size: 14px;
  }
}

@media (max-height: $breakpoint2_height), (max-width: $breakpoint2_width) {
  html {
    font-size: 12px;
  }
}
