.splashscreen {
  display: flex;
  flex-direction: column;
  width: 100%;

  .img-container {
    flex: 4;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .title {
    min-height: 4rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-color;
    color: $red-bg;
    font-size: $font-xlg;
    box-shadow: 0px 0px $shadow-blur-radius rgba($shadow-color, $shadow-opacity);
    font-weight: bold;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: {
      right: $padding-md;
      left: $padding-md;
      top: $padding-md;
      bottom: $padding-md;
    }

    .arrow-container {
      height: 100px;
      width: 100%;
      margin-bottom: $padding-md;
      display: flex;
      .arrow {
        padding: $padding-xsm;
        flex: 1;
        align-items: center;
        display: flex;
        background-color: $bg-light-grey;
        font-weight: bold;
        font-size: $font-sm;
        position: relative;
        margin-left: 15px;
        margin-right: 15px;
        svg {
          position: absolute;
        }
        .left {
          right: -15px;
          path {
            fill: $bg-light-grey;
          }
        }
        .right {
          left: -15px;
          path {
            fill: $bg-light-grey;
          }
        }
        &:first-of-type {
          margin-left: 0px;
        }
      }
    }
    a {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .do-not-show {
    color: $gray-text-light;
    margin-bottom: 0px;
  }

  .number-icon {
    height: 45px;
    height: 45px;
    margin-right: 0.5rem;
  }
}