h4 {
  margin-top: $padding-xsm;
  margin-bottom: $padding-xsm;
}

.load-warning {
  background-color: $red-light;
  margin-top: auto;
  right: 0;
  position: absolute;
  top: -14rem;
  height: 13rem;
  width: 16.5rem;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  text-align: center;

  .load-img {
    max-width: 5rem;
    max-height: 5rem;
    margin: 0px;
  }

  mark {
    font-size: $font-sm;
  }

  div {
    font-size: $font-xxsm;
  }
}

mark {
  background: none;
  font-weight: bold;
  &.green {
    color: $green-highlight;
  }
  &.orange {
    color: $orange-highlight;
  }
  &.red {
    color: $red-bg;
  }
}

.serial-port-form {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: $padding-xsm;

  .port-detected {
    margin-top: $padding-xsm;
    color: $green-highlight;
  }
}

table.device-list {
  border-spacing: 0 1rem;
  border-collapse: inherit;
  tr {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  }

  td.number {
    text-align: center;
    font-weight: bold;
    width: 1px;
    padding: $padding-xsm;
    background-color: $green-highlight;
  }
  td.name {
    font-weight: bold;
    padding-left: $padding-md;
  }
  td.serial {
    color: $gray-text-light;
  }
  td.compatible {
    font-size: $font-md;
    text-align: right;
    padding-right: $padding-xsm;
  }
  .cross {
    color: $green-highlight;
  }
  .question {
    padding-right: $padding-xsm;
  }
  .checkmark {
    color: $gray-text-light;
  }

  tr.incompatible {
    td.number {
      background-color: $bg-light-grey;
    }
    td.number, td.name, td.serial {
      opacity: 0.5;
    }
  }
}

.clear-icon {
  color: $gray-text-dark;
  cursor: pointer;
}

a.external-link {
  cursor: pointer;
}

*:focus {
  outline: none;
}

.bold {
  font-weight: bold;
}

input {
  &[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  border: unset;
  box-shadow: unset;
  border-bottom: 1px solid $gray-text-dark;
  border-radius: 0;
  padding-bottom: 0;

  &:disabled {
    background-color: inherit;
  }
}

*:focus {
  outline: none;
}

.icon {
  height: 1em;
  &.arrow-right {
    margin-left: 0.5rem;
  }
  &.arrow-left {
    margin-right: 0.5rem;
    transform: rotate(180deg);
  }
  &.question {
    width: auto;
    height: 2.2rem;
  }
}

.select {
  &__menu {
    max-height: 7rem;
    overflow: auto;
  }
}

.__react_component_tooltip.tooltip {
  background-color: $bg-color;
  color: $gray-text;
  box-shadow: 0px 0px $shadow-blur-radius rgba($shadow-color, $shadow-opacity);

  &.show {
    opacity: 1;
  }

  &.place-top::after {
    border-top-color: $bg-color;
  }
  &.place-bottom::after {
    border-bottom-color: $bg-color;
  }
  &.place-left::after {
    border-left-color: $bg-color;
  }
  &.place-right::after {
    border-right-color: $bg-color;
  }
}

.text-tooltip {
  text-decoration: underline;
  cursor: pointer;
}
