$red-text: #a7191c; //RGB 167, 25, 28; CMYK 0%, 85%, 83%, 35%
$red-bg: #d32024; //RGB 212, 32, 36; CMYK 0%, 85%, 83%, 17%
$red-light: #fff5f5;
$green-light: #e3fce4; //todo confirm this color
$light-text: #ffffff; //RGB 255, 255, 255; CMYK 0%, 0%, 0%, 0%
$gray-text: #707070; //RGB 112, 112, 112; CMYK 0%, 0%, 0%, 56%
$gray-text-light: #aaaaaa; //RGB 170, 170, 170; CMYK 0%, 0%, 0%, 33%
$gray-text-dark: #555555; //RGB 85, 85, 85; CMYK 0%, 0%, 0%, 67%
$bg-color: #ffffff; //RGB 255, 255, 255; CMYK 0%, 0%, 0%, 0%
$bg-dark: #888888; //RGB 136, 136, 136; CMYK 0%, 0%, 0%, 47%
$bg-light-grey: #DDDDDD;
$bg-highlight: #d3d3d3; //RGB 211, 211, 211; CMYK 0%, 0%, 0%, 17%
$bg-light: #f8f8f8; //RGB 248, 248, 248; CMYK 0%, 0%, 0%, 3%
$almost-white: #EEEEEE;
$orange-highlight: #f89b11; //RGB 248, 155, 17; CMYK 0%, 38%, 93%, 3%
$green-highlight: #34c737; //RGB 52, 199, 55; CMYK 74%, 0%, 72%, 22%

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../font/roboto-v20-latin-regular.woff2') format('woff2'),
}

$font: 'Roboto', Arial, Helvetica, sans-serif;

$font-xxsm: 1.0rem;
$font-xsm: 1.1rem;
$font-sm: 1.25rem;
$font-md: 1.5rem;
$font-lg: 2rem;
$font-xlg: 2.5rem;

$padding-xxsm: 0.75rem;
$padding-xsm: 1rem;
$padding-sm: 1.5rem;
$padding-md: 2rem;
$padding-sidebar: 2.5rem;
$padding-xxlg: 4rem;

$shadow-spread: 0rem;
$shadow-opacity: 0.2;
$shadow-blur-radius: 1.25rem;
$shadow-color: #000000;

$modal-border-width: 2px;